openapi: 3.2.0
info:
  title: Synthetix Mainnet API
  description: Synthetix API documentation
  version: 1.0.0
servers:
- url: https://api.synthetix.io
  description: Production
tags:
- name: Mainnet
paths:
  /v3/mainnet/issued-debt:
    get:
      tags:
      - Mainnet
      summary: Fetch sum of usd value of issued debt each collateral
      description: Checks the cache first, and if not found, fetches issued debt data from Postgres for the given account ID.
      parameters:
      - in: query
        name: accountId
        required: true
        schema:
          type: string
        description: The account ID to fetch the issued debt for.
      responses:
        '200':
          description: Successfully fetched issued debt.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    collateral_type:
                      type: string
                      example: 0x..
                    issuance:
                      type: number
                      example: 1
        '400':
          description: Invalid accountId provided.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message.
        '500':
          description: An internal server error occurred.
      operationId: getV3MainnetIssuedDebt
      x-operation-id-source: derived
  /v3/mainnet/rewards-claimed:
    get:
      tags:
      - Mainnet
      summary: Fetch sum of usd value of claimed rewards for a given account ID for each…
      description: Checks the cache first, and if not found, fetches claimed rewards data from Postgres for the given account ID.
      parameters:
      - in: query
        name: accountId
        required: true
        schema:
          type: string
        description: The account ID to fetch total usd value of claimed rewards for. Must be a positive integer.
      responses:
        '200':
          description: Successfully fetched claimed rewards.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    collateral_type:
                      type: string
                      example: 0x..
                    total_amount_usd:
                      type: number
                      example: 1
        '400':
          description: Invalid accountId provided.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message.
        '500':
          description: An internal server error occurred.
      operationId: getV3MainnetRewardsClaimed
      x-operation-id-source: derived
  /v3/mainnet/sc-pool-apy-all:
    get:
      tags:
      - Mainnet
      description: Returns current APY for Spartan Council Pool on Mainnet.
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    timestamp:
                      type: string
                      format: date-time
                      example: '2024-05-23T14:00:00.000Z'
                    poolId:
                      type: integer
                      example: 1
                    collateralType:
                      type: string
                      example: '0xc74ea762cf06c9151ce074e6a569a5945b6302e7'
                    collateralValue:
                      type: number
                      example: 23075347.609146226
                    debtAmount:
                      type: number
                      example: -38219.337186378914
                    hourlyIssuance:
                      type: number
                      example: 500
                    hourlyPnl:
                      type: number
                      example: 12954.05122107834
                    cumulativePnl:
                      type: number
                      example: 43985.56313904079
                    cumulativeIssuance:
                      type: number
                      example: 5766.225952661871
                    rewardsUSD:
                      type: number
                      example: 325.5208333342384
                    hourlyPnlPct:
                      type: number
                      example: 0.0005613805451816391
                    hourlyRewardsPct:
                      type: number
                      example: 1.410686585736259e-05
                    apr24h:
                      type: number
                      example: 0.45592422360763046
                    apy24h:
                      type: number
                      example: 0.57761207594964
                    apr7d:
                      type: number
                      example: 0.3960274742990924
                    apy7d:
                      type: number
                      example: 0.4858968400315962
                    apr28d:
                      type: number
                      example: 0.4384330174128003
                    apy28d:
                      type: number
                      example: 0.550259050183527
                    apr24hPnl:
                      type: number
                      example: 0.33291916703302443
                    apy24hPnl:
                      type: number
                      example: 0.39502570410440424
                    apr7dPnl:
                      type: number
                      example: 0.19503277851939582
                    apy7dPnl:
                      type: number
                      example: 0.21534818462340294
                    apr28dPnl:
                      type: number
                      example: 0.13876757264702413
                    apy28dPnl:
                      type: number
                      example: 0.14885578045932418
                    apr24hRewards:
                      type: number
                      example: 0.12300505657460604
                    apy24hRewards:
                      type: number
                      example: 0.13088916273804313
                    apr7dRewards:
                      type: number
                      example: 0.20099469577969659
                    apy7dRewards:
                      type: number
                      example: 0.22261546761516451
                    apr28dRewards:
                      type: number
                      example: 0.29966544476577617
                    apy28dRewards:
                      type: number
                      example: 0.34940036452177975
                    aprPnl:
                      type: number
                      example: 0.19503277851939582
                    aprRewards:
                      type: number
                      example: 0.20099469577969659
                    aprCombined:
                      type: number
                      example: 0.3960274742990924
        '401':
          description: Unauthorized.
        '403':
          description: You have been banned by WAF.
        '429':
          description: Too many requests, you're being rate-limited.
        5XX:
          description: Service unavailable.
        default:
          description: Unexpected error.
      summary: Get mainnet sc pool apy all
      x-summary-source: derived
      operationId: getV3MainnetScPoolApyAll
      x-operation-id-source: derived
