openapi: 3.2.0
info:
  title: Synthetix Optimism API
  description: Synthetix API documentation
  version: 1.0.0
servers:
- url: https://api.synthetix.io
  description: Production
tags:
- name: Optimism
paths:
  /v3/optimism/lt-leaderboard:
    get:
      tags:
      - Optimism
      description: Returns leverage token leaderboard on optimism.
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    epoch_start:
                      type: string
                      format: date-time
                      example: '2024-05-23T14:00:00.000Z'
                    account:
                      type: string
                      example: '0xAa4a1d3c0d96B0D8C7AE4F71939D0Fa36bd97Aa7'
                    total_fees_paid:
                      type: string
                      example: '954.605497900439850'
                    fees_paid_pct:
                      type: string
                      example: '0.210334039122012452233641885'
                    fees_rank:
                      type: string
                      example: '1'
                    volume:
                      type: string
                      example: '1'
                    volume_rank:
                      type: string
                      example: '1'
                    volume_pct:
                      type: string
                      example: '1'
        '401':
          description: Unauthorized.
        '403':
          description: You have been banned by WAF.
        '429':
          description: Too many requests, you're being rate-limited.
        5XX:
          description: Service unavailable.
        default:
          description: Unexpected error.
      summary: Get optimism lt leaderboard
      x-summary-source: derived
      operationId: getV3OptimismLtLeaderboard
      x-operation-id-source: derived
  /v3/optimism/lt-trades:
    get:
      tags:
      - Optimism
      description: Returns leverage token trades on optimism.
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      example: 0131506856-000048-c2285
                    block_number:
                      type: number
                      example: 131506856
                    ts:
                      type: string
                      format: date-time
                      example: '2025-02-03 19:54:49+00'
                    transaction_hash:
                      type: string
                      example: 0x...
                    contract:
                      type: string
                      example: 0x...
                    event_name:
                      type: string
                      example: Redeemed
                    account:
                      type: string
                      example: 0x
                    token:
                      type: string
                      example: btc_long7
                    leverage:
                      type: number
                      example: 1
                    market:
                      type: string
                      example: BTC
                    leveraged_token_amount:
                      type: string
                      example: '1'
                    base_asset_amount:
                      type: string
                      example: '1'
                    nominal_volume:
                      type: string
                      example: '1'
                    notional_volume:
                      type: string
                      example: '1'
                    token_price:
                      type: string
                      example: '1'
                    total_supply:
                      type: string
                      example: '1'
                    vault_tvl:
                      type: string
                      example: '1'
                    vault_oi:
                      type: string
                      example: '1'
        '401':
          description: Unauthorized.
        '403':
          description: You have been banned by WAF.
        '429':
          description: Too many requests, you're being rate-limited.
        5XX:
          description: Service unavailable.
        default:
          description: Unexpected error.
      summary: Get optimism lt trades
      x-summary-source: derived
      operationId: getV3OptimismLtTrades
      x-operation-id-source: derived
