openapi: 3.2.0
info:
  title: Synthetix Health Check API
  description: Synthetix API documentation
  version: 1.0.0
servers:
- url: https://api.synthetix.io
  description: Production
tags:
- name: Health Check
paths:
  /health:
    get:
      tags:
      - Health Check
      description: Returns API health status. Protected with basic auth. Only for internal use.
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: OK
        '401':
          description: Unauthorized.
        '403':
          description: You have been banned by WAF.
        '429':
          description: Too many requests, you're being rate-limited.
        5XX:
          description: Service unavailable.
        default:
          description: Unexpected error.
      summary: Get health
      x-summary-source: derived
      operationId: getHealth
      x-operation-id-source: derived
  /status:
    get:
      tags:
      - Health Check
      description: Returns API status.
      responses:
        '200':
          description: Successful response.
          content:
            text/plain:
              schema:
                type: string
                example: OK
        '401':
          description: Unauthorized.
        '403':
          description: You have been banned by WAF.
        '429':
          description: Too many requests, you're being rate-limited.
        5XX:
          description: Service unavailable.
        default:
          description: Unexpected error.
      summary: Get status
      x-summary-source: derived
      operationId: getStatus
      x-operation-id-source: derived
